*{
    text-decoration: none;    
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #474747;
}

header{
    background-color:#1F4C63;
    width: 100%;
    height: 150px;
}

header .logoDark{
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;

}

header nav ul li{
    display: inline-block;
    float: right;  
    list-style: none;
    padding: 0 16px;  
}

header nav ul li a {
    font-family: 'DM Sans', sans-serif;  
    font-size: 16px;
    color: #E5E5E5;
}

.title{
    font-size: 12px;
    text-align: center;
}

main{
    padding: 16px;
}

.flexbox-container-charts{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 0 0 130px;
}

.flexbox-container-images{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 0 0 70px;
}

.chart1 img{
    max-width: 200px;
    padding: 5px 0;
}

.chart2 img{
    max-width: 200px;
    padding: 5px 0;
}

.chart3 img{
    max-width: 200px;
    padding: 5px 0;
}

.image1 img{
    max-width: 80%;
    height: auto;
    padding: 10px 0;
}

.image2 img{
    max-width: 80%;
    height: auto;
    padding: 10px 0;
}

.image3 img{
    max-width: 80%;
    height: auto;
    padding: 10px 0;
}

.grid{
    margin: 2rem auto;
    display: grid;
    grid-template-rows: auto;
    }

.grid p{
    border: 1px solid gray;
    height: 50px;
    text-align: center;
}

.journeyMap img{
    width: 100%;
    height: auto;
}

.moreProjects{
    width: calc(100%-80px);
    background-color: #EAE8EB;
    padding: 16px;
}

.theGiftery{
    max-width: 100%;
    height: auto;
    background-image: url("https://www.treehugger.com/thmb/sx8ukVMaYUiJS2RtBxb1zhwog84=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2018__11__gift_giving-12a7f3700d7549739373ec2769edcbab.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 10px;
}

.theGiftery h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;  
    text-shadow: 2px 2px 8px #111;
    color: white;
    padding: 60px;
}

.theGiftery p {
    display: none;
}

.easy{
    max-width: 100%;
    height: auto;
    background-image: url("https://www.smartaboutmoney.org/portals/0/Images/Topics/Housing-and-Transportation/Transportation/Hidden-Costs-of-Airline-Travel.jpg?ver=2017-07-13-135449-733");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 10px;
}

.easy h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;   
    text-shadow: 2px 2px 8px #111;
    color: white;
    padding: 60px;
}

.easy p {
    display: none;
}


/*FOOTER*/

footer{
    width: calc(100%-80px);
    padding: 40px 40px;
    height: 80px;
    background-color: #C4C4C4;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #474747;
}

.letsConnect {
    font-weight: 700;
}

@media only screen and (min-width: 1000px) {

    header{
    height: 117px;
}

    header .logoDark{
        max-width: 150px;
        display: left;
        margin: 0;
        padding: 0;
    }    

    header nav ul {
        width: 100%;
        float: right;
    }    

    header nav ul li{
    width: 70px;
    font-size: 18px;
    background-color: #1F4C63;
    padding: 15px 25px;
    text-align: center;
    transition: background-color 0.5s ease;
    float: right;
    }

    header nav ul li:hover {
        background-color: lightgray;
    }
    
    header nav ul li a:hover {
        color:#1F4C63 ;
        font-weight: 700;
    }

    .flexbox-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .flexbox-container-charts{
        flex-direction: row;
        padding: 0;
    }

    .flexbox-container-images{
        flex-direction: row;
        padding: 0;
    }

    .grid{
        grid-template-columns: 33% 33% 33%;
    }
    .theGiftery{
        width: 600px;
        height: auto;
    }

    .theGiftery p {
        display: flex;
        font-size: 16px;
        text-align: left;    
        color: white;
        line-height: 25px;
        padding: 0 10px;
    }

    .easy{
        width: 600px;
        height: auto;
    }

    .easy p {
        display: flex;
        font-size: 16px;
        text-align: left;    
        color: white;
        line-height: 25px;
        padding: 0 10px;
    }
}